@charset "UTF-8";
/* CSS Document */


/*--------------------------------------------------------------
>>> CSS STANDARDS
----------------------------------------------------------------
1. Place in appropriate section
2. Add new sections to the Table of Contents
3. Order properties alphabetically inside each declaration
4. Declaration selectors should each occupy a new line
5. Enter one new line between declarations
--------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
    1.1 - Headings
    1.2 - Body Copy
    1.3 - Buttons
    1.4 - Forms
    1.5 - Lists
    1.6 - Tables
2.0 - Navigation Menus
    2.1 - Main Menu
    2.2 - Sub Menu
    2.3 - Footer Menu
3.0 - Content
    3.1 - Site Structure (Site Header, Advertisement, Site Footer)
    3.2 - Section Name
    3.3 - Section Name
4.0 - Media
5.0 - Utility
    5.1 - Background Colors
    5.2 - Text Colors
    5.3 - Text Sizes
    5.4 - Alignments
	
6.0 - Columns
	
--------------------------------------------------------------*/


*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper {
	margin: 0 auto;
	width: 80%;
}


#team div.row:nth-child(1) {
	padding: 0;
}

.row:after {
	clear:both;
	content:"";
	display:table;
}

a .btn-1, a .btn-2 {
display: inline-block
}
/*==========================1.0 Typography=========================== */

.col-1-4, .col-8-12, h2 ~ p, nav, h2, footer p, h4, ul, a, .col-3-4, .col-1-6 {
	text-align: center;
}

.col-1-2 .col-3-4 {
	text-align: left;
}
.col-1-4 {
	padding-right: 0;
}

body {
	font-family: 'Raleway', sans-serif;
	color: #3a3a3a;
	font-size:  1.1rem;
	line-height: 1rem;
}

#hero p {
	line-height: 1.5rem;
}

#hero p:first-child, #hero span {
	font-size: 2.5rem; 
	line-height: 3rem;

}

#hero p:first-child{
	font-weight: 600;
	color: #ffffff;
}

#hero p:nth-child(2), .col-8-12 p {
	font-size: 1.5rem;
	line-height: 2rem;
}

#hero span {
	font-weight: 100;
	display: block;
}

#hero p {
	color: #ffffff;
	margin: 2rem;
}


h2, h3, h4, li {
	color: #00999d;
}

a {
	font-size: .75rem;
}

/* ============== 1.1 Headings ====================== */



h2~div {
	border-bottom: 1px solid black;
    margin: 10px auto 20px;
    width: 54px;
}
 
 
h2 {
	margin-bottom: 20px;
	text-transform: uppercase;
	font-size: 1.6rem;
}

h3 {
	font-size: 1.3rem;
}

h4 {
margin: 0 auto 5px;
}


/* ============== 1.2 Body Copy ====================== */

h3 > p {
	font-size: .8rem;
}
h4 > p {
	font-size: .8rem; 
}


address {
	font-size: .8rem;
	font-style: normal;
	margin-bottom: 1rem;
}

/* ============== 1.3 Buttons ======================= */


hero a {
	margin: 2rem 0;
}

.btn-1 {
	background-color: #ffffff;
	color: #00999d;
	padding: 10px 38px;
	
}

.btn-2 {
	background-color: #00999d;
	color: #ffffff;
	padding: 10px 30px;
	}
	
.btn-1, .btn-2 {
	width: 150px;
	height: 34px;
	-webkit-appearance: none; 
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px; 
	text-decoration: none;
	text-align: center;
	margin: 1rem;
	}
	


.sprite {
	width: 80px;
    height: 80px;
    zoom: .35;
    margin-left: 0;
    display: inline-block;
}

.sprite-2 {
	width: 250px;
    height: 40px;
    margin-left: 0;
	ZOOM: .7;
    display: inline-block;
}

.facebook {
    background-image: url(../img/facebook.png);
}

.twitter {
	background-image: url(../img/twitter.png);
}

.facebook:hover, .twitter:hover {
	background-position: 0 -80px;
}

.logo {
	background-image: url(../img/logosprite.png);
}


.logo:hover {
	background-position: 0 -43px;
}


.btn-1:hover, .btn-2:hover {
	background-color: #81caa2;
	color: #ffffff;
}
	a {
	text-decoration: none;
	color: #00999d;
	}
	
	a:hover {
	color:#81caa2;
	text-decoration: none;
	}

/* ============== 1.4 Forms ====================== */


/* ========================== 1.5 Lists ============================== */

nav li, li{
	display: inline-block;
	margin-right: 30px;
}

nav li:last-child, li:last-child{
	margin-right: 0px;
}
h4, li {
	font-size: .75rem;
	text-transform: uppercase;
	font-weight: 700;
}

li:last-child {
	margin-right: 0;
}


.col-3-4 ul {
	text-align: left;
    margin: 0;
}
/* ============== 1.6 Tables ====================== */

/* ========================== 2.0 NAVIGATIONAL MENUS ============================== */


/* ============== 2.1 Main Menu ====================== */


/* ============== 2.2 Sub Menu ====================== */


/* ============== 2.3 Footer Menu ====================== */

 
/* ========================== 3.0 CONTENT ============================== */

/* ============== 3.1 Site Structure ======================  (Site Header, Advertisement, Site Footer) */ 

#header {
	background: #e8e9e9;
}

/* ============== 3.2 Section Name ====================== */

#team {
	background: #f4f4f5;
}


/* ============== 3.3 Site Footer ====================== */

#footer {
	background: #e8e9e9;
}


/* ================================= 4.0 MEDIA ===================================== */
img {
	max-width: 100%;  
	zoom: 1.2;			/* CSS you need for the image inside the figure  */
}	

#hero {
    background: url(../img/hero.jpg) no-repeat center bottom;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
	-ms-background-size: cover;
 	-o-background-size: cover;
	background-size: cover;
    padding: 25px 0 75px;
}


/* ================================= 5.0 UTILITY ===================================== */



[class*='col-'] {     							/* attritube selector  */
	float: left;
	padding-right: 20px;   						/* YOU don't want it to change size -- so use px here  */
	margin-bottom: 20px;
}

[class*='col-']:last-of-type { 
	padding-right: 0;
}

ul {
	padding-left: 0;
	margin-top: 0;
}

/*
[class*='col-'] {    
	float: left;
	padding: 0 20px;   
}
[class*='col-']:first-of-type { 
	padding-left: 0;
}*/





/* ========================== 6.0 COLUMNS ============================ */


.red {
	background-color: red;
	height: 50px;     
}

/* Full Amounts */

.col-1-1{
	width:100%;
}

.col-1-2 {
	width: 50%;	
}

.col-1-3 {
	width: 33.33%;
}

.col-1-4, .col-8-12, .col-1-2, .col-1-6, .col-1-8 {
	width: 100%;
}

.col-1-2 .col-1-4 {
	width: 25%;
}

.col-3-4 {
	width: 75%
}

.col-1-5 {
	width: 20%;
}

.col-1-7 {
	width: 14.285%;
}

.col-1-8 {
	width: 12.5%;
}

.col-1-9 {
	width: 11.11%;
}

.col-1-10 {
	width: 10%;
}

.col-1-11 {
	width: 9.09%;
}

.col-1-12 {
	width:8.33%;
}

/* Fraction Amounts */

.col-2-3  { 
	width: 66.66%;
}

  
.col-2-5 {
	width: 40% ;
}

.col-3-5 {
	width: 60%;
}
 
 .col-5-6 {
	width: 83.33%;
}
 
 .col-2-7 {
	width: 28.57%;
}
   
  .col-5-7 {
	width: 71.43% ;
}
  
  .col-3-8 {
	width: 37.5%;
} 
 
 .col-5-8 {
	width: 62.5%;
}  
  
  .col-5-9 {
	width: 55.55%;
} 

  .col-4-9 {
	width: 44.44%;
} 
 
  .col-9-10 {
	width: 90%;
} 
  
  .col-4-11 {
	width: 36.36%;
} 	

  .col-7-11 {
	width: 63.63%;
} 	

  .col-5-12 {
	width: 41.66%;
} 	

  .col-7-12 {
	width: 58.33%;
} 	



.f-right, .block-center {
	float: none;
	margin: 0 auto;
}




	
@media (min-width: 480px) {	
	.f-left {
	float: left;
}

.f-right {
	float: right;
}


.block-center {
	float: none;
	margin: 0 auto;
}
	
}
	
	

/* === IMPORTANT NOTE=== if you want to apply a background color to a column, you will need to create a div/conatiner inside the column and apply the background color to that container (that child element).  Otherwise you will never see that gap or gutter between the columns.  We always want to be able to see the gap between the columns)    */

/* you can say padding (not padding-right): 0 20px: on the class*='col-'},  Then you have to keep last of type padding-right zero and say paddign-left on first of type    */



/* ===MEDIA QUERY=== */   

/* +++++++++++++++++++++WHAT TO CHANGE+++++++++YOu might change typefaces sizes, spacing, column sizes, widths ++++++++++++++++++++++ */

/* Fix the amounts to not leave any gap.  Still have to cover 100%.  Change amounts to not have more than five or six boxes. Make all of them look equally distibuted at a large display and both a small display. */

@media (min-width: 480px) {
	
	
/* ======================= SITE STRUCTURE ========================= */	
	.wrapper {
		width: 85%;
	}
	
	div.row {
	padding: 20px 0;
}

	
	/*[class*='col-'] {     							
	float: left;
	padding-right: 0px;   						
	margin-bottom: 20px;
	}

	[class*='col-']:last-of-type { 
	padding-right: 0;
	}
	*/
	
  
  
	div#hero {
		margin-top: 0;
	}
	
	#hero {
    background: url(../img/hero.jpg) no-repeat center center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
	-ms-background-size: cover;
 	-o-background-size: cover;
	background-size: cover;
	padding: 120px 0 100px;
	margin: 2rem 0;
}
	}
	
	
	#hero p:first-child, #hero span {
    font-size: 3.5rem; 
	}
	
	#hero p:nth-child(2) {
	font-size: 1.7rem;
	line-height: 1.79rem;
	margin: 2rem 0;
}

	#hero span {
	display:inline;
	}
	
	.col-8-12 p {
	font-size: 1.1rem;
	line-height: 1.4rem;
	margin: 2rem;
	}
	
	.col-1-4, footer.col-1-6 {
		margin-top: 2rem;
	}
	
	footer .col-1-4, .col-1-6, h4  {
		text-align: left;
	}
	
	.col-3-4 {
		padding-right: 30px;
	}
	
	#footer span {
		display: block;
	}
	
	#team img {
		zoom: 2.0;
	}
	
	#team div .col-1-4, #team img, #footer img {
		margin-top: .25rem;
	}
	
	
	h4 {
	    margin-top: 2rem;
	}
	
	
	#work, #team {
	padding-top: 40px;
}
	
	

/* ========================= COLUMNS ============================== */
/* % must divide into an equal break.  keep percentages at least 20%, if it keeps the same percentage, you don't need to rewrite it */ 
	
	
	
	
	.col-1-6:nth-child(3), .col-1-7, .col-1-8:nth-child(4), .col-1-9:nth-child(3), .col-1-9:nth-child(6), .col-1-10:nth-child(5), .col-1-11, .col-1-12:nth-child(4), .col-1-12:nth-child(8), col-1-6-sm  {
		padding-right: 0;    
	}
	
/* Full Amounts */

	.col-1-2 {
		width: 50%;
	}
	
	.col-1-4, .col-1-12  {
		width: 25%;
	}
	
	.col-1-8 {
		width: 12.5%
	}
	
	.col-1-5, .col-1-10  {
		width: 20%;
	}
	
	.col-1-6.col-sm {
		width: 90%;
	}
	
	.col-1-6, .col-1-9, .col-1-3.col-sm  {
		width: 33.33%;
	}
	
	.col-5-6, .col-2-3 {
		width: 66.66%;
	}
	
	.col-1-7, .col-1-11 {
		width: 100%;
	}

	.col-9-10 {
		width: 80%;
	}
								/* use class selector to target repeated fraction.  */
/* Fraction Amounts */
	

.col-3-4 {
	width:75%;
}
  
.col-2-5, .col-1-10.col-sm {
	width: 40% ;
}

.col-3-5, .col-9-10 {
	width: 60%;
}
 
.col-1-6.col-sm, .col-5-6 {
	width: 50%;
}
 
 .col-2-7 {
	width: 28.57%;
}
   
  .col-5-7 {
	width: 71.43% ;
}
  
  .col-3-8 {
	width: 37.5%;
} 
 
 .col-5-8 {
	width: 62.5%;
}  
  
  .col-5-9 {
	width: 55.55%;
} 

  .col-4-9 {
	width: 44.44%;
} 
  
  .col-4-11 {
	width: 36.36%;
} 	

  .col-7-11 {
	width: 63.63%;
} 	

  .col-5-12 {
	width: 41.66%;
} 	

  .col-7-12 {
	width: 58.33%;
} 	
	
	.col-8-12 {
	width: 75%;
}
	


				

}

	
	
	/* break points for smaller display sizes */